.form-container{
    width: 40%;
    margin: auto;
    padding: 30px;
    margin-top: 40px;
}

.form-container h1{
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
}

form input[type= "text"],
form input[type= "email"],
form input[type= "number"],
form input[type= "password"],
form input[type="tel"],
select{
    transition-timing-function: .5s;
    width: 100%;
    font-size: 1em;
    margin: auto;
    margin: 1.3em 0;
    margin-top: 0.25em;
    padding: 0.8em 0.9em;
    border: 0.5px solid #01010113;
    background-color: #f6f8fc;
}

form input[type= "radio"]{
    margin-left: 5.5em;
}

form button{
    width: 100%;
    font-size: 1em;
    margin: 1.3em 0;
    margin-top: 0.25em;
}
