.container{
    margin: 40px;
    margin-top: 25px;
}

.project-name{
    font-size: 28px;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3333334e;
}

.topbar ul {
    padding-inline-start: 10px;
}

.topbar ul li {
    display: inline;
    padding-right: 50px;
}

.shared-with div{
    display: inline-block;
}

#filter{
    margin-left: 30px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: rgb(74, 74, 74);
}

#filter:hover{
    background-color: #3333330f;
    border-radius: 5px;
}

.column-section{
    padding: 20px;
    width: fit-content;
}

.column-card{
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px 2px rgba(131, 131, 131, 0.1);
    width: 330px;
    display: inline-block;
    min-height: 200px;
    height: fit-content;
}